{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Connexion' %}

{% block body %}

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="img/bg/bg2.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Connexion</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

        {% if error %}
        <div class="alert alert-danger text-center" style="width: 29% !important; margin: 50px auto 0 auto;">
            <i class="fa fa-times text-danger" aria-hidden="true"></i> {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
        {% endif %}

        <section>
            <div class="container">
                <div class="row">
                    <div class="login">
                        <div class="login-pan">
                            <div class="text-center">
                                <h3 style="margin-bottom: 3rem;">Bonjour !</h3>
                                <h5 style="line-height: 26px;">Connectez-vous pour découvrir toutes nos fonctionnalités.</h5>
                            </div>

                            <form action="{{ path('login') }}" method="post" class="form-signin">

                                <label for="username" class="sr-only">Nom d'utilisateur</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Nom d'utilisateur"/>
                                <label for="password" class="sr-only">Mot de passe</label>
                                <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe"/>
                                <div class="checkbox mb-3 text-center" style="margin-top: 3rem;">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" checked>
                                        Rester connecté
                                    </label>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Se connecter</button>
                                </div>

                                <div class="text-center mt-3">
                                    <a class="btn btn-primary" href="{{ path('password_recover') }}">Mot de passe oublié ?</a>
                                </div>

                                <hr class="mt-5" />

                                <div class="text-center">
                                    <div style="margin-bottom: 1rem; margin-top: 3rem;">
                                        <h5>Envie de nous rejoindre ?</h5>
                                    </div>
                                    <div>
                                        <a href="{{ path('register') }}" class="btn btn-primary" style="text-decoration: none;">
                                           Créer un compte
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		{% include('components/contact.html.twig') %}

		{% include('components/footer.html.twig') %}

	</div>

	{% include('components/navRight.html.twig') %}

{% endblock %}
