<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="telephone=no" name="format-detection">
    <title>Email Template</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700 &family=Open+Sans:wght@700&display=swap');
    </style>


    <style>
        type="text/css" media="screen"
        /* Linked Styles */
        
        body {
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            -webkit-text-size-adjust: none;
            background-image: url('http://localhost:8000/img/mail/bg.jpg');
            background-repeat: no-repeat repeat-y;
            background-position: 0 0;
            background-color: #d6d1c7
        }
        
        a {
            color: #e27251;
            text-decoration: underline
        }
        
        .footer a {
            color: #7f7b74;
            text-decoration: none
        }
        /* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
        
        p {
            padding: 0 !important;
            margin: 0 !important
        }
    </style>
</head>

<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background-image:url(http://localhost:8000/img/mail/bg.jpg); background-repeat:no-repeat repeat-y; background-position:0 0; background-color:#d6d1c7">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" background="http://localhost:8000/img/mail/bg.jpg" style="background-image: url(http://localhost:8000/img/mail/bg.jpg); background-repeat: no-repeat repeat-y; background-position: 0 0; background-color: #d6d1c7">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <div style="font-size:0pt; line-height:0pt; height:1px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="1" style="height:1px" alt=""></div>

                    <div style="font-size:0pt; line-height:0pt; height:1px; background:#e6b59f; "><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="1" style="height:1px" alt=""></div>

                    <!-- END Top -->
                    <!-- Header -->
                    <table width="650" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div style="font-size:0pt; line-height:0pt; height:25px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="25" style="height:25px" alt=""></div>

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left">
                                                    <a href="https://annonces-72.fr/" target="_blank"><img src="https://annonces-72.fr/img/logo.png" alt="" border="0"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="font-size:0pt; line-height:0pt; height:25px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="25" style="height:25px" alt=""></div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- END Header -->
                    <!-- Hero -->
                    <div>
                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                            <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/hero3.png" alt="" border="0" width="661" height="414"></a>
                        </div>
                        <div style="font-size:0pt; line-height:0pt; height:20px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="20" style="height:20px" alt=""></div>

                    </div>
                    <!-- END Hero -->

                    <!-- Content -->
                    <table width="661" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="http://localhost:8000/img/mail/main_box_top.jpg" alt="" border="0" width="661" height="5"></div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#d3cec3"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#d3cdc3"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#cdc7bd"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#cbc7bc"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#c4beb4"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#ffffff"></td>
                                                <td valign="top" width="409" style="background-image: url(http://localhost:8000/img/mail/main_bg.jpg); background-repeat: no-repeat repeat-y; background-position: 0 0; background-color: #f6f6e9;">
                                                    <div style="font-size:0pt; line-height:0pt; height:20px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="20" style="height:20px" alt=""></div>

                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="19"></td>
                                                                <td>
                                                                    <div>
                                                                        <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="http://localhost:8000/img/mail/inner_box_top.jpg" width="373" height="3" alt="" border="0"></div>
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3" bgcolor="#eaeae6"></td>
                                                                                    <td bgcolor="#fbfbfb">
                                                                                        <div style="font-size:0pt; line-height:0pt; height:15px">
                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="15" style="height:15px" alt="">
                                                                                        </div>

                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="img" style="text-align:left" width="15"></td>
                                                                                                    <td class="text" style="color:#70716e; line-height:21px; text-align:left">


                                                                                                        <div style="font-size: 14px; text-align: left; margin-bottom: 10px;">
                                                                                                            Un message de {{ contact.lastname }}
                                                                                                        </div>
                                                                                                        <div style="font-size: 14px;">
                                                                                                            <b>Adresse email :</b> {{ contact.email }}</div>
                                                                                                        <div style="font-size: 14px;">
                                                                                                            <b>Sujet :</b> {{ contact.subject }}</div>
                                                                                                        <div style="font-size: 14px;">
                                                                                                            <b>Message :</b> {{ contact.content }}</div>
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:15px">
                                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="15" style="height:15px" alt="">
                                                                                                        </div>

                                                                                                    </td>
                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>

                                                                                        <div style="font-size:0pt; line-height:0pt; height:1px; background:#e1e1e1; ">
                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="1" style="height:1px" alt=""></div>




                                                                                    </td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3" bgcolor="#eaeae6"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>


                                                                        <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="http://localhost:8000/img/mail/inner_box_bottom.jpg" width="373" height="3" alt="" border="0"></div>

                                                                        {% for annonce in annonces %}

                                                                        <div>
                                                                            <div style="font-size:0pt; line-height:0pt; height:20px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="20" style="height:20px" alt=""></div>

                                                                            <div class="img" style="font-size:0pt; line-height:0pt; text-align:left">
                                                                                <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/separator1.jpg" alt="" border="0" width="373" height="5"></a>
                                                                            </div>
                                                                            <div style="font-size:0pt; line-height:0pt; height:20px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="20" style="height:20px" alt=""></div>

                                                                        </div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3" bgcolor="#eaeae6"></td>
                                                                                    <td bgcolor="#fbfbfb">
                                                                                        <div style="font-size:0pt; line-height:0pt; height:15px">
                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="15" style="height:15px" alt="">
                                                                                        </div>

                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="img" style="text-align:left" width="15"></td>
                                                                                                    <td class="text" style="color:#70716e; line-height:21px; text-align:left">
                                                                                                        <div class="img" style="font-size:17px; text-align:left">
                                                                                                            <a href="http://localhost:8000/annonce/{{ annonce.id }}" target="_blank" style="text-decoration: none !important;text-transform: none !important;font-family: 'Montserrat', sans-serif !important;font-weight: 600 !important;">{{ annonce.title }}</a>
                                                                                                        </div>
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:10px">
                                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="10" style="height:10px" alt="">
                                                                                                        </div>


                                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td valign="top" class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="140">
                                                                                                                        <a href="http://localhost:8000/annonce/{{ annonce.id }}" target="_blank">

																														{% if annonce.pictures is empty %}
																																		</a>
                                                                                                                        <a class="lb-link" data-rel="product-gallery" href="http://localhost:8000/img/annonces/empty.jpg" title="{{ annonce.title }}">
                                                                                                                            <img data-rel="product-gallery" src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" border="0" width="131" alt="{{ annonce.title }}">
                                                                                                                        </a> {% else %}
                                                                                                                        <a class="lb-link" data-rel="product-gallery" href="http://localhost:8000{{ vich_uploader_asset(annonce.pictures[0], 'imageFile') }}" title="{{ annonce.title }}">
                                                                                                                            <img data-rel="product-gallery" src="http://localhost:8000{{ vich_uploader_asset(annonce.pictures[0], 'imageFile') }}" border="0" width="131" alt="{{ annonce.title }}">
                                                                                                                        </a>
                                                                                                                        {% endif %}


                                                                                                                    </td>
                                                                                                                    <td valign="top" class="text" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:21px; text-align:left">
                                                                                                                        <div>
                                                                                                                            {{ annonce.smallContent }}
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:15px">
                                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="15" style="height:15px" alt="">
                                                                                                        </div>

                                                                                                        <div style="font-size: 12px;font-weight: 600;">
                                                                                                            Mise en ligne le {{ annonce.createdAt|format_datetime() }}
                                                                                                        </div>
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:15px">
                                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="15" style="height:15px" alt="">
                                                                                                        </div>

                                                                                                    </td>
                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>

                                                                                        <div style="font-size:0pt; line-height:0pt; height:1px; background:#e1e1e1; ">
                                                                                            <img src="http://localhost:8000/img/mail/empty.gif" width="1" height="1" style="height:1px" alt=""></div>




                                                                                    </td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3" bgcolor="#eaeae6"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="http://localhost:8000/img/mail/inner_box_bottom.jpg" width="373" height="3" alt="" border="0"></div>

                                                                        {% endfor %}

                                                                    </div>

                                                                </td>
                                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="17"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#f2d8c6"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#ffffff"></td>
                                                <td valign="top" width="240" bgcolor="#f9f9f0">
                                                    <div style="font-size:0pt; line-height:0pt; height:35px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="35" style="height:35px" alt=""></div>

                                                    <div>
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                    <td class="text2" style="color:#70716e; line-height:18px; text-align:left">
                                                                        <div class="img" style="text-align:left">
                                                                            <a href="https://annonces-72.fr/" target="_blank" style="text-decoration: none !important;text-transform: none !important;font-family: 'Montserrat', sans-serif !important;font-weight: 600 !important;">Nos catégorie</a>
                                                                        </div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:10px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="10" style="height:10px" alt=""></div>

                                                                        <div>
                                                                            Retrouvez ici nos catégorie les plus populaires.
                                                                        </div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:10px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="10" style="height:10px" alt=""></div>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>


                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Vacances</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Emploi</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Véhicules</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Immobilier</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Mode</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Maison</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Multimédia</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Loisirs</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Animaux</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Matériel professionnel</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="11"><img src="http://localhost:8000/img/mail/bullet2.jpg" alt="" border="0" width="3" height="6"></td>
                                                                                    <td class="text2" style="color:#70716e; font-family:'Trebuchet MS'; font-size:12px; line-height:18px; text-align:left">
                                                                                        <div>Services</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="5" style="height:5px" alt=""></div>

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <img src="http://localhost:8000/img/mail/separator2.jpg" alt="" border="0" width="200" height="1"></div>
                                                                        <div style="font-size:0pt; line-height:0pt; height:25px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="25" style="height:25px" alt=""></div>

                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div>
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="img" style="text-align:left" width="15"></td>
                                                                    <td class="img" style=" text-align:left">
                                                                        <a href="https://annonces-72.fr/" target="_blank" style="text-decoration: none !important;text-transform: none !important;font-family: 'Montserrat', sans-serif !important;font-weight: 600 !important;">Réseaux sociaux</a>
                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div style="font-size:0pt; line-height:0pt; height:15px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="15" style="height:15px" alt=""></div>


                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="64">
                                                                        <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/facebook.jpg" alt="" border="0" width="64" height="63"></a>
                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="9"></td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="64">
                                                                        <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/twitter.jpg" alt="" border="0" width="64" height="63"></a>
                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="9"></td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="64">
                                                                        <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/flickr.jpg" alt="" border="0" width="64" height="63"></a>
                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div style="font-size:0pt; line-height:0pt; height:9px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="9" style="height:9px" alt=""></div>

                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="64">
                                                                        <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/delicious.jpg" alt="" border="0" width="64" height="63"></a>
                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="9"></td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="64">
                                                                        <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/rss.jpg" alt="" border="0" width="64" height="63"></a>
                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="9"></td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="64">
                                                                        <a href="#" target="_blank"><img src="http://localhost:8000/img/mail/youtube.jpg" alt="" border="0" width="64" height="63"></a>
                                                                    </td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div style="font-size:0pt; line-height:0pt; height:25px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="25" style="height:25px" alt=""></div>

                                                        <div class="img" style="font-size:0pt; line-height:0pt; text-align:left">
                                                            <img src="http://localhost:8000/img/mail/separator3.jpg" alt="" border="0" width="240" height="2"></div>
                                                    </div>
                                                    <div style="font-size:0pt; line-height:0pt; height:35px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="35" style="height:35px" alt=""></div>

                                                </td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#cac5bb"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#cfcabf"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#d1cbc0"></td>
                                                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#d5cec3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="http://localhost:8000/img/mail/main_box_bottom.jpg" alt="" border="0" width="661" height="6"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- END Content -->
                    <!-- Footer -->
                    <div style="font-size:0pt; line-height:0pt; height:15px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="15" style="height:15px" alt=""></div>

                    <div class="footer" style="color:#7f7b74; font-family:Arial; font-size:12px; line-height:18px; text-align:center">
                        <div>
                            Si vous recevez cet e-mail, c'est que vous avez visité
                            <a href="https://annonces-72.fr">Annonces-72</a>. Vous pouvez dévider de
                            <br> ne plus recevoir ce type d'e-mail merci de nous contacter via le formulaire approprié.
                        </div>
                    </div>
                    <div style="font-size:0pt; line-height:0pt; height:50px"><img src="http://localhost:8000/img/mail/empty.gif" width="1" height="50" style="height:50px" alt=""></div>

                    <!-- END Footer -->
                </td>
            </tr>
        </tbody>
    </table>




</body>

</html>