{% for message in app.flashes('success') %}
	<div class="alert alert-success text-center" style="width: 29% !important; margin: 50px auto 0 auto;">
		<i class="fa fa-check text-success" aria-hidden="true"></i> {{ message }}
	</div>
{% endfor %}

{% for message in app.flashes('error') %}
		<div class="alert alert-danger text-center" style="width: 29% !important; margin: 50px auto 0 auto;">
			<i class="fa fa-times text-danger" aria-hidden="true"></i> {{ message }}
		</div>
{% endfor %}

<section>
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-xs-12 col-sm-6 mb50">
							<div class="images">
								{% if annonces.premium == 1 %}
									<span class="onsale">
										<i class="fas fa-hand-sparkles text-success"></i>
										Annonce Premium</span>
								{% endif %}

								{% if annonces.pictures is empty %}
									<a class="lb-link" data-rel="product-gallery" href="http://localhost:8000/img/annonces/empty.jpg" title="{{ annonces.title }}">
										<img data-rel="product-gallery" src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" class="img-responsive lb-img" alt="{{ annonces.title }}">
									</a>
								{% else %}
									<a class="lb-link" data-rel="product-gallery" href="{{ vich_uploader_asset(annonces.pictures[0], 'imageFile') }}" title="{{ annonces.title }}">
										<img data-rel="product-gallery" src="{{ vich_uploader_asset(annonces.pictures[0], 'imageFile') }}" class="img-responsive lb-img" alt="{{ annonces.title }}"/>
									</a>
								{% endif %}

								<div class="thumbnails mt">
									{% for picture in annonces.pictures %}
										<a class="lb-link" data-rel="product-gallery" href="{{ vich_uploader_asset(picture, 'imageFile') }}" title="Image Title 2">
											<img class="lb-img" alt="{{ annonces.title }}" width="120px" src="{{ vich_uploader_asset(picture, 'imageFile') }}">
										</a>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 mb50">
							<div class="summary entry-summary">

								<div>
									<p class="price">
										<ins>
											<span class="amount">{{ annonces.title }}</span>
										</ins>
									</p>
								</div>

								<div class="lead">
									<p>{{ annonces.smallcontent }}</p>
								</div>

								<hr/>

								<div>
									<p>
										<i class="fas fa-angle-right"></i>
										<b>{{ annonces.getCatType }}</b><br>
										<span class="ml-5">
											<i class="fas fa-angle-right"></i>
											<b>{{ annonces.getCatType2 }}</span>
										</b>
									</p>
								</div>

								<hr/>

								{% if is_granted('ROLE_USER') %}
								<div class="product-rating" style="margin-bottom: -3px;">
									{% if voteId %}
										{% if voteCount < 20 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<a id="vote-stars1" href="{{ path('annonce.starsVote1', { 'id': annonces.id }) }}"><span class="glyphicon glyphicon-star-empty" id="stars1"></span></a>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 40 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<a id="vote-stars2" href="{{ path('annonce.starsVote2', { 'id': annonces.id }) }}"><span class="glyphicon glyphicon-star-empty" id="stars2"></span></a>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 60 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<a id="vote-stars3" href="{{ path('annonce.starsVote3', { 'id': annonces.id }) }}"><span class="glyphicon glyphicon-star-empty" id="stars3"></span></a>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 80 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<a id="vote-stars4" href="{{ path('annonce.starsVote4', { 'id': annonces.id }) }}"><span class="glyphicon glyphicon-star-empty" id="stars4"></span></a>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 100 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<a id="vote-stars5" href="{{ path('annonce.starsVote5', { 'id': annonces.id }) }}"><span class="glyphicon glyphicon-star-empty" id="stars5"></span></a>
									{% endif %}

								</div>
								{% else %}
								<div class="product-rating" style="margin-bottom: -3px;">
									{% if voteId %}
										{% if voteCount < 20 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<span class="glyphicon glyphicon-star-empty" id="stars1"></span>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 40 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<span class="glyphicon glyphicon-star-empty" id="stars2"></span>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 60 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<span class="glyphicon glyphicon-star-empty" id="stars3"></span>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 80 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<span class="glyphicon glyphicon-star-empty" id="stars4"></span>
									{% endif %}
									{% if voteId %}
										{% if voteCount < 100 %}
											<span class="glyphicon glyphicon-star-empty"></span>
										{% else %}
											<span class="glyphicon glyphicon-star"></span>
										{% endif %}
									{% else %}
										<span class="glyphicon glyphicon-star-empty" id="stars5"></span>
									{% endif %}

								</div>
								{% endif %}

								<hr/>

								<div class="share">
										{% if is_granted('ROLE_USER') %}
											{% if likeId %}
												<a class="btn btn-annonces" style="margin-right: 3px;">
													<i class="far fa-heart" aria-hidden="true"></i>
												</a>
											{% else %}	
												<a href="{{ path('annonce.like', { 'id': annonces.id }) }}" class="btn btn-annonces" style="margin-right: 3px;">
													<i class="far fa-heart" aria-hidden="true"></i>
												</a>
											{% endif %}
										{% else %}
												<a href="{{ path('login') }}" class="btn btn-annonces" style="margin-right: 3px;">
													<i class="far fa-heart" aria-hidden="true"></i>
												</a>
										{% endif %}
									

									<a class="btn btn-annonces">
										<i class="fas fa-share-alt" aria-hidden="true"></i>
									</a>
								</div>

								<hr/>

								<div class="share">
									<a href="#" class="btn btn-primary btn-theme mr-5">Envoyer un message
										<i class="far fa-comment-dots"></i>
									</a>
									<a href="#" class="btn btn-primary btn-theme">Voir le numéro
										<i class="fas fa-phone"></i>
									</a>

								</div>
							</div>
						</div>

						<div class="widget">
							<h4 class="widget-title text-center">
								<strong>Mise en ligne</strong>
								Par</h4>
							<div class="col-md-12" style="display: flex;justify-content: center;">

								<div class="pull-left">

									{% if user.pictures is empty %}
										<img src="{{ '/img/avatar/default_profil.png' }}" alt="{{ annonces.author }}" class="avatar comment-avatar" style="border-radius: 50%;"/>
									{% else %}
										{% for picture in user.pictures %}
											<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ annonces.author }}" class="avatar comment-avatar" style="border-radius: 50%;"/>
										{% endfor %}
									{% endif %}
								</div>
								<div class="media-body">
									<div class="well">
										<div class="media-heading">
											<strong>{{ annonces.author }}</strong><br>
											<small>{{ annonces.createdAt|format_datetime() }}</small><br>
											<strong>
												<i class="fa fa-shield" style="color: rgb(255, 110, 20)"></i>
												Profil recommandé</strong><br>
											{% if user.status != 0 %}
												<strong>N° SIREN :
													{{ user.siren }}</strong>
											{% endif %}
											<a href="">{{ count }}
												annonces</a><br>
											<small>
												<i class="far fa-clock"></i>
												Répond généralement dans les 6 heures</small>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 product-tabs mt">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#tab-description">Description</a>
								</li>

								<li class="reviews_tab">
									<a data-toggle="tab" href="#tab-reviews">Commentaire(s) ({{ countComment }})</a>
								</li>

								<li class="reviews_tab">
									<a data-toggle="tab" href="#tab-localisation">Localisation</a>
								</li>

								<li class="criteres_tab">
									<a data-toggle="tab" href="#tab-criteres">Critères</a>
								</li>
							</ul>


							<div class="tab-content mb">
								<div class="tab-pane active" id="tab-description">
									<p>{{ annonces.largeContent|raw }}</p>

									<a href="" class="btn btn-primary btn-theme">Signaler l'annonce</a>
								</div>

								<div class="tab-pane fade" id="tab-reviews">
									<div id="reviews">
										<div id="comments">
											<div id="comments-list" class="gap">
												
												{% for comments in comment %}
												<div class="media">
													<div class="pull-left">
														{% if user.pictures is empty %}
																<img src="{{ 'http://localhost:8000/img/avatar/default_profil.png' }}" width="60px" alt="{{ comments.author }}" class="avatar comment-avatar"/>
															{% else %}
																{% for picture in user.pictures %}
																	<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" width="60px" alt="{{ comments.author }}" class="avatar comment-avatar"/>
																{% endfor %}
														{% endif %}
													</div>
													<div class="media-body">
														<div class="well">
															<div class="media-heading">
																<strong>{{ comments.author }}</strong>&nbsp;
																<small>{{ comments.createdAt|format_datetime() }}</small>
															</div>
															<p>{{ comments.content }}</p>
														</div>
													</div>
												</div>
												{% endfor %}
												
											</div>

											<div id="comment-form" class="gap">
												<div class="mb">
													<h3 class="single-section-title">
														<strong>LAISSER UN</strong>
														COMMENTAIRE</h3>
												</div>
												{{ form_start(formComment, { 'attr' : { 'class' : 'form-horizontal'} }) }}
													<div class="form-group">
														<div class="col-sm-12">
															{{ form_widget(formComment.content) }}
														</div>
													</div>
													<button type="submit" class="btn btn-theme">Envoyer le commentaire</button>
												{{ form_end(formComment) }}
											</div>
										</div>

									</div>
								</div>

								<div class="tab-pane" id="tab-localisation">
									<p>Mapbox</p>
								</div>

								<div class="tab-pane" id="tab-criteres">
									<p>Critères</p>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="mb50">
								<h3 class="single-section-title">Annonces similaires</h3>
							</div>

							<div class="row">
								<ul class="owl-carousel-paged wow fadeIn list-unstyled" data-items="2" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
									{% for annonceSimi in annonceSimilaire %}
										
											<div class="hover-item mb30">

												{% if annonceSimi.pictures is empty %}
													<img src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" alt="{{ annonceSimi.author }}" class="img-responsive"/>
												{% else %}
														<img src="{{ vich_uploader_asset(annonceSimi.pictures[0], 'imageFile') }}" alt="{{ annonceSimi.author }}" class="img-responsive"/>
												{% endif %}

												<div class="overlay-item-caption smoothie"></div>
												<div class="hover-item-caption smoothie">
													<div class="vertical-center smoothie">
														<a title="{{ annonceSimi.title }}" href="{{ path('annonce.show', { 'id': annonceSimi.id }) }}" class="smoothie btn btn-primary">Voir l'annonce</a>
													</div>
												</div>
											</div>
											<div class="item-excerpt">
												<h4 class="pull-right">{{ annonceSimi.getFormattedPrice }}
													€</h4>
												<h4 style="width: 340px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
													{{ annonceSimi.title }}
												</h4>
												<p>{{ annonceSimi.smallContent }}</p>
												<p>Mise en ligne par
													{{ annonceSimi.author }}</p>
												<div style="display: inline-block;">
													{% if annonceSimi.premium == 1 %}
														<span>
															<i class="fas fa-hand-sparkles text-success"></i>
															<b>Annonce Premium</b>
														</span>
													{% endif %}
												</div>
											</div>
								
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="main-sidebar" class="col-md-3 col-md-offset-1 divider-wrapper wow fadeIn" data-wow-delay="0.5s">
					<div>
						<div class="widget">
							<h4 class="widget-title">
								<strong>Dernières</strong>
								annonces</h4>
							<div>
								{% for annonce in annonceLatest %}
								<div class="media">
									<div class="pull-left">
										{% if annonce.pictures is empty %}
													<img src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" width="60px" alt="{{ annonce.author }}" class="widget-img"/>
										{% else %}
											<img src="{{ vich_uploader_asset(annonce.pictures[0], 'imageFile') }}" width="60px" alt="{{ annonce.author }}" class="widget-img"/>
										{% endif %}
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="{{ path('annonce.show', { 'id': annonce.id }) }}"><p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom: -10px;">{{ annonce.title }}</p></a>
										</span>
										<small class="muted">{{ annonce.getFormattedPrice }} €</small>
										<small class="muted">Par {{ annonce.author }}</small>
										<small class="muted">Le {{ annonce.createdAt|format_datetime() }}</small>
									</div>
								</div>
								<hr>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
