<div class="container mt-5">
	<div class="row mb20">

	<div class="col-lg-12">
		<h4>Nos annonces - Catégorie - {{ annoncesCat }}</h4>

		<hr/>
	</div>

		{% for annonce in annonces %}
		<div class="col-md-4 mb-3" style="min-height: 465px;">
			<div class="hover-item">

				{% if annonce.pictures is empty %}
					<img src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" alt="{{ annonce.author }}" class="img-responsive smoothie"/>
				{% else %}
						<img src="{{ vich_uploader_asset(annonce.pictures[0], 'imageFile') }}" alt="{{ annonce.author }}" class="img-responsive smoothie"/>
				{% endif %}
				
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a title="{{ annonce.title }}" href="{{ path('annonce.show', { 'id': annonce.id }) }}" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">{{ annonce.getFormattedPrice }} €</h4>
				<h4 style="max-width: 348px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 1.5rem!important;">
					{{ annonce.title }}
				</h4>
				<p>{{ annonce.smallContent|raw }}</p>
				<p>Mise en ligne par <b>{{ annonce.author }}</b></p>
				<div style="display: inline-block;">
					{% if annonce.premium == 1 %}
						<span><i class="fas fa-hand-sparkles text-success"></i> <b>Annonce Premium</b></span>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}

		<div class="row mt-4">
            <div class="col-12 col-md-12 col-xl-12" style="display: flex;justify-content: space-around;">
                {{ knp_pagination_render(annonces) }}
            </div>
        </div>
	</div>

	<hr>

	<div class="row mb100">
		<div class="col-md-6">
			<p class="lead">Avec annonces-72, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, vacances, mode, maison, jeux vidéo, etc…</p>
			<p>Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>
			<p class="mt30">
				<a href="{{ path('annonce.create') }}" class="btn btn-primary btn-theme page-scroll">Déposer une annonce maintenant</a>
			</p>
		</div>

		<div class="col-md-6">
			<img src="http://localhost:8000/img/petite-annonce.png" class="img-responsive alignright wow fadeIn" data-wow-delay="0.5s" alt="" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn; width: 326px;">
		</div>
	</div>
</div>
