<div class="container">
	<div class="row mb50">
		{% for annonce in annonces %}
		<div class="col-md-4 mb-3">
			<div class="hover-item mb30">

				{% if annonce.pictures is empty %}
					<img src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" alt="{{ annonce.author }}" class="img-responsive smoothie"/>
				{% else %}
					{% for picture in annonce.pictures %}
						<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ annonce.author }}" class="img-responsive smoothie"/>
					{% endfor %}
				{% endif %}
				
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a title="{{ annonce.title }}" href="{{ path('annonce.show', { 'id': annonce.id }) }}" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">{{ annonce.getFormattedPrice }} €</h4>
				<h4>
					{{ annonce.title }}
				</h4>
				<p>{{ annonce.smallContent }}</p>
				<p>Mise en ligne par {{ annonce.author }}</p>
				<div style="display: inline-block;">
					{% if annonce.premium == 1 %}
						<span><i class="fas fa-hand-sparkles text-success"></i> <b>Annonce Premium</b></span>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<hr>

	<div class="row mb100">
		<div class="col-md-6">
			<p class="lead">Avec annonces-72, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, vacances, mode, maison, jeux vidéo, etc…</p>
			<p>Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>
			<p class="mt30">
				<a href="#" class="btn btn-primary btn-theme page-scroll">Déposer une annonce maintenant</a>
			</p>
		</div>

		<div class="col-md-6">
			<img src="http://localhost:8000/img/petite-annonce.png" class="img-responsive alignright wow fadeIn" data-wow-delay="0.5s" alt="" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn; width: 326px;">
		</div>
	</div>
</div>
