<div class="container">
	<div class="row mb50">

		<div class="col-md-12 mb-4">
			<h3><i class="far fa-star text-success"></i>  Nos annonces en avant-première</h3>
		</div>

		<div class="col-md-12 mb-4">
			{% if annoncesCountPremium != 0 %}
				<a href="{{ path('annonce.premium') }}" class="btn btn-primary btn-theme mr-3"><i class="fas fa-hand-sparkles text-success"></i> Voir nos {{ annoncesCountPremium }} annonce(s) premium</a>
			{% else %}
				<h5><i class="fas fa-hand-sparkles text-success"></i> Aucune annonce premium pour le moment</h5>
			{% endif %}
		</div>

		{% for annonce in annoncesPremium %}
		<div class="col-md-4 mb-3" style="min-height: 465px;">
			<div class="hover-item">

				{% if annonce.pictures is empty %}
					<img src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" alt="{{ annonce.author }}" class="img-responsive smoothie"/>
				{% else %}
						<img src="{{ vich_uploader_asset(annonce.pictures[0], 'imageFile') }}" alt="{{ annonce.author }}" class="img-responsive smoothie"/>
				{% endif %}
				
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a title="{{ annonce.title }}" href="{{ path('annonce.show', { 'id': annonce.id }) }}" class="smoothie btn btn-primary" style="max-width: ">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">{{ annonce.getFormattedPrice }} €</h4>
				<h4 style="max-width: 348px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 1.5rem!important;">
					{{ annonce.title }}
				</h4>
				<p>{{ annonce.smallContent|raw }}</p>
				<p>Mise en ligne par <b>{{ annonce.author }}</b></p>
				<div style="display: inline-block;">
					{% if annonce.premium == 1 %}
						<span><i class="fas fa-hand-sparkles text-success"></i> <b>Annonce Premium</b></span>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<hr>
</div>
