<div id="footer-wrapper" class="footer-image-bg">
	<section class="transparent-wrapper">
		<div class="section-inner">
			<div class="container">
				<div class="row text-center m-auto">
					<div class="col-md-6">
						<div class="widget about-us-widget">
							<h4 class="widget-title">
								<strong>Vendez</strong>
								Partout dans le monde</h4>
							<p>Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="widget">
							<h4 class="widget-title">Tags populaires</h4>
							<div class="tagcloud">
								<a href="{{ path('annonce.category', { 'category':'0' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[0] }}">{{ globals.tags[0] }}</a>
					<a href="{{ path('annonce.category', { 'category': '1' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[1] }}">{{ globals.tags[1] }}</a>
					<a href="{{ path('annonce.category', { 'category': '2' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[2] }}">{{ globals.tags[2] }}</a>
					<a href="{{ path('annonce.category', { 'category': '3' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[3] }}">{{ globals.tags[3] }}</a>
					<a href="{{ path('annonce.category', { 'category': '4'}) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[4] }}">{{ globals.tags[4] }}</a>
					<a href="{{ path('annonce.category', { 'category': '5' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[5] }}">{{ globals.tags[5] }}</a>
					<a href="{{ path('annonce.category', { 'category': '6' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[6] }}">{{ globals.tags[6] }}</a>
					<a href="{{ path('annonce.category', { 'category': '7' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[7] }}">{{ globals.tags[7] }}</a>
					<a href="{{ path('annonce.category', { 'category': '8' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[8] }}">{{ globals.tags[8] }}</a>
					<a href="{{ path('annonce.category', { 'category': '9' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[9] }}">{{ globals.tags[9] }}</a>
					<a href="{{ path('annonce.category', { 'category': '10' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[10] }}">{{ globals.tags[10] }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="white-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left match-height">
					<ul class="list-inline social-links wow">
						<li>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-pinterest"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="col-md-6 text-right match-height">
					<div class="vertical-center">
						<span class="copyright">© Copyright 2021. Annonces-72 Gaëtan Seigneur</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
