<div class="flexpanel">
	<div class="viewport-wrap">
		<div class="viewport">
			<div class="widget mb50">
				<h4 class="widget-title">Dernières annonces</h4>
				<div>
					{% for annonce in annonceLatest %}
						<div class="media">
							<div class="pull-left">
								{% if annonce.pictures is empty %}
									<img src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" width="60px" alt="{{ annonce.author }}" class="widget-img"/>
								{% else %}
									<img src="{{ vich_uploader_asset(annonce.pictures[0], 'imageFile') }}" width="60px" alt="{{ annonce.author }}" class="widget-img"/>
								{% endif %}
							</div>
							<div class="media-body">
								<span class="media-heading">
									<a href="{{ path('annonce.show', { 'id': annonce.id }) }}"><p style="width: 225px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom: -10px;">{{ annonce.title }}</p></a>
								</span>
								<small class="muted">{{ annonce.getFormattedPrice }}
									€</small>
								<small class="muted">Par
									{{ annonce.author }}</small>
								<small class="muted">Le
									{{ annonce.createdAt|format_datetime() }}</small>
							</div>
						</div>
						<hr>
					{% endfor %}
				</div>
			</div>
			<div class="widget mb50">
				<h4 class="widget-title">
					<strong>Tags</strong>
					Populaires</h4>
				<div class="tagcloud">
					<a href="{{ path('annonce.category', { 'category':'0' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[0] }}">{{ globals.tags[0] }}</a>
					<a href="{{ path('annonce.category', { 'category': '1' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[1] }}">{{ globals.tags[1] }}</a>
					<a href="{{ path('annonce.category', { 'category': '2' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[2] }}">{{ globals.tags[2] }}</a>
					<a href="{{ path('annonce.category', { 'category': '3' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[3] }}">{{ globals.tags[3] }}</a>
					<a href="{{ path('annonce.category', { 'category': '4'}) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[4] }}">{{ globals.tags[4] }}</a>
					<a href="{{ path('annonce.category', { 'category': '5' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[5] }}">{{ globals.tags[5] }}</a>
					<a href="{{ path('annonce.category', { 'category': '6' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[6] }}">{{ globals.tags[6] }}</a>
					<a href="{{ path('annonce.category', { 'category': '7' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[7] }}">{{ globals.tags[7] }}</a>
					<a href="{{ path('annonce.category', { 'category': '8' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[8] }}">{{ globals.tags[8] }}</a>
					<a href="{{ path('annonce.category', { 'category': '9' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[9] }}">{{ globals.tags[9] }}</a>
					<a href="{{ path('annonce.category', { 'category': '10' }) }}" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="{{ globals.tags[10] }}">{{ globals.tags[10] }}</a>
				</div>
			</div>
			<div class="widget about-us-widget mb50">
				<h4 class="widget-title">Annonces-72 C'est quoi</h4>
				<p>Avec annonces-72, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, vacances, mode, maison, jeux vidéo, etc…</p>
			</div>
		</div>
	</div>
</div>
