{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Confirmation' %}

{% block body %}
	<link href="http://localhost:8000/css/profil.css" rel="stylesheet">

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="http://localhost:8000/img/bg/bg2.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Confirmation</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-times text-danger" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		<section>
			<div class="container mt-5">
				<div class="row">
					<div class="img" style="background-image: url(http://localhost:8000/img/bg/user_profil.jpg);height: 350px;background-size: cover;"></div>
					<div class="card social-prof">
						<div class="card-body">
							<div class="wrapper">
								{% if app.user.pictures is empty %}
									<img src="{{ 'http://localhost:8000/img/avatar/default_profil.png' }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
								{% else %}
									{% for picture in app.user.pictures %}
										<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
									{% endfor %}
								{% endif %}
								<h3 class="mt-0 mb-3">{{ app.user.lastname }}
									-
									{{ app.user.firstname }}</h3>
								<p>{{ app.user.username }}</p>
								<hr>
							</div>
							<div class="row ">
								<div class="col-lg-12">
									<ul class=" nav nav-tabs justify-content-center s-nav">
										<li>
											<a href="{{ path('profil') }}">Mon profil</a>
										</li>
										<li>
											<a href="{{ path('user.edit') }}">Mes paramètres</a>
										</li>
										<li>
											<a href="{{ path('user.annonces') }}">Mes annonces</a>
										</li>
										<li>
											<a href="{{ path('user.credit') }}">Mes crédits</a>
										</li>
										<li>
											<a href="{{ path('user.favoris') }}">Mes favoris</a>
										</li>
										<li>
											<a href="{{ path('user.mailbox') }}">Boîte de réception <b>({{ countMail }})</b></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="container row m-auto">
						<div class="col-lg-12 mb-5">

                            <iframe width="100%" height="300" src="http://localhost:8000/html/ship.html" frameborder="0" id="ship-animation" allowtransparency="true"></iframe>

							<h4 class="text-center">Nous avons bien reçu votre annonce !</h4>

                            <p class="text-center mt-3 mb-1">Merci de votre confiance. Votre annonce va être contrôlée dans les prochaines minutes.</p>

                            <p class="text-center mt-0">Dès réception du mail confirmant sa mise en ligne, vous pourrez la retrouver dans la section « Annonces » de votre compte.</p>
						
                            <div class="text-center">
                                <a href="{{ path('user.annonces') }}" class="btn btn-primary">
                                    Retourné aux annonces
                                </a>
                            </div>
                       
                        </div>
					</div>
				</div>
			</div>
		</section>

		{% include('components/contact.html.twig') %}

		{% include('components/footer.html.twig') %}

	</div>

	{% include('components/navRight.html.twig') %}

{% endblock %}
