{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Modifier mon profil' %}

{% block body %}
	<link href="http://localhost:8000/css/profil.css" rel="stylesheet">

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="http://localhost:8000/img/bg/bg2.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Modifier mon profil</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center" style="width: 29% !important; margin: 27px auto 50px auto">
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center" style="width: 29% !important; margin: 27px auto 50px auto">
				<i class="fa fa-times text-danger" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		<section>
			<div class="container mt-5">
				<div class="row">
					<div class="img" style="background-image: url(http://localhost:8000/img/bg/user_profil.jpg);height: 350px;background-size: cover;"></div>
					<div class="card social-prof">
						<div class="card-body">
							<div class="wrapper">
								{% if app.user.pictures is empty %}
									<img src="{{ 'http://localhost:8000/img/avatar/default_profil.png' }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
								{% else %}
									{% for picture in app.user.pictures %}
										<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
									{% endfor %}
								{% endif %}
								<h3 class="mt-0 mb-3">{{ app.user.lastname }}
									-
									{{ app.user.firstname }}</h3>
								<p>{{ app.user.username }}</p>
								<hr>
							</div>
							<div class="row ">
								<div class="col-lg-12">
									<ul class=" nav nav-tabs justify-content-center s-nav">
										<li>
											<a href="{{ path('profil') }}">Mon profil</a>
										</li>
										<li>
											<a class="active" href="{{ path('user.edit') }}">Mes paramètres</a>
										</li>
										<li>
											<a href="{{ path('user.annonces') }}">Mes annonces</a>
										</li>
										<li>
											<a href="{{ path('user.credit') }}">Mes crédits</a>
										</li>
										<li>
											<a href="{{ path('user.favoris') }}">Mes favoris</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="container row" style="display: flex;justify-content: center;">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-body info-card social-about">
									<h2 class="text-blue">Modifier mon profil</h2>
									{{ form_start(form) }}
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												{{ form_row(form.status) }}
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												{{ form_row(form.siren) }}
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												{{ form_row(form.lastname) }}
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												{{ form_row(form.firstname) }}
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												{{ form_row(form.birthday) }}
											</div>
										</div>
									</div>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												{{ form_row(form.gender) }}
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												{{ form_row(form.city) }}
											</div>
										</div>
									</div>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												<div class="social-info">
													{{ form_row(form.address) }}
												</div>
											</div>
											<div class="col-6">
												<div class="social-info">
													{{ form_row(form.postalCode) }}
												</div>
											</div>
											<div class="col-6">
												<div class="social-info">
													{{ form_row(form.country) }}
												</div>
											</div>
											<div class="col-6">
												<div class="social-info">
													{{ form_row(form.phone) }}
												</div>
											</div>
											<div class="col-6">
												<div class="social-info">
													{{ form_row(form.mobile) }}
												</div>
											</div>
											<div class="col-6">
												<div class="social-info">
													{{ form_row(form.job) }}
												</div>
											</div>
											<div class="col-6">
												<div class="social-info">
													{{ form_row(form.biography) }}
												</div>
											</div>
											<div class="col-6 text-center mb-3">
												<button type="submit" class="btn btn-primary">Confirmer la modification</button>
											</div>

											<div class="col-6 text-center mb-3">
												<a href="{{ path('user.delete') }}" class="btn btn-primary">Supprimer mon compte</a>
											</div>
										</div>
										{{ form_end(form) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			{% include('components/contact.html.twig') %}

			{% include('components/footer.html.twig') %}

		</div>

		{% include('components/navRight.html.twig') %}

		<script>
			document.getElementById('user_type3_birthday_day').style = 'width: 35px; margin-right: 1rem;';
			document.getElementById('user_type3_birthday_month').style = 'width: 60px; margin-right: 1rem;';
			document.getElementById('user_type3_birthday_year').style = 'width: 60px; margin-right: 1rem;';
		</script>

	{% endblock %}
