{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Mon profil' %}

{% block body %}
	<link href="css/profil.css" rel="stylesheet">

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="img/bg/bg2.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Mon profil</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center" style="width: 29% !important; margin: 50px auto 0 auto;">
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center" style="width: 29% !important; margin: 50px auto 0 auto;">
				<i class="fa fa-times text-danger" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		<section>
			<div class="container mt-5">
				<div class="row">
					<div class="img" style="background-image: url(img/bg/user_profil.jpg);height: 350px;background-size: cover;"></div>
					<div class="card social-prof">
						<div class="card-body">
							<div class="wrapper">
								{% if app.user.pictures is empty %}
									<img src="{{ '/images/default_profil.png' }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
								{% else %}
									{% for picture in app.user.pictures %}
										<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
									{% endfor %}
								{% endif %}
								<h3 class="mt-0 mb-3">{{ app.user.lastname }}
									-
									{{ app.user.firstname }}</h3>
								<p>{{ app.user.username }}</p>
							</div>
							<div class="row ">
								<div class="col-lg-12">
									<ul class=" nav nav-tabs justify-content-center s-nav">
										<li>
											<a class="active" href="{{ path('profil') }}">Mon profil</a>
										</li>
										<li>
											<a href="{{ path('user.edit') }}">Mes paramètres</a>
										</li>
										<li>
											<a href="#">Mes annonces</a>
										</li>
										<li>
											<a href="#">Mes crédits</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-body info-card social-about">
									<h2 class="text-blue">Mon profil</h2>
									<h4>
										<strong>Biographie</strong>
									</h4>
									<p>{{ app.user.biography }}
									</p>
									<h4 class="mb-3">
										<strong>Informations personnelles</strong>
									</h4>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												<i class="fas fa-birthday-cake mr-2"></i>
												<span>{{ app.user.getAge() }}
													an(s) -
													{{ app.user.birthday|format_date() }}</span>
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												<i class="fas fa-map-marker-alt mr-2"></i>
												<span>{{ app.user.address }},
													{{ app.user.postalCode }},
													{{ app.user.city }},
													{{ app.user.country }}</span>
											</div>
										</div>
									</div>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												<i class="fas fas fa-users mr-2"></i>
												<span>
													{% if app.user.gender == 0 %}Homme{% elseif app.user.gender == 1 %}Femme
													{% endif %}
												</span>
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												<i class="fas fa-briefcase mr-2"></i>
												<span>{{ app.user.job }}</span>
											</div>
										</div>
									</div>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												<i class="fas fas fa-mobile mr-2"></i>
												<span>{{ app.user.phone }}
													{% if app.user.mobile != null %}- 0{{ app.user.mobile }}
													{% endif %}
												</span>
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												<i class="fas fas fa-envelope mr-2"></i>
												<span>{{ app.user.email }}</span>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="card info-card">
									<div class="card-body">
										<h2 class="text-blue">Mes annonces en favoris</h2>
										<div class="row">
											<div class="col-lg-6">
												<h4>
													<strong>Course: Gamification</strong>
												</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												</p>
											</div>
											<div class="col-lg-6">
												<h4>
													<strong>Course: Gamification</strong>
												</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												</p>
											</div>
											<div class="col-lg-6">
												<h4>
													<strong>Course: Gamification</strong>
												</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												</p>
											</div>
											<div class="col-lg-6">
												<h4>
													<strong>Course: Gamification</strong>
												</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include('components/contact.html.twig') %}

		{% include('components/footer.html.twig') %}

	</div>

	{% include('components/navRight.html.twig') %}

{% endblock %}
