{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Mon profil' %}

{% block body %}
	<link href="http://localhost:8000/css/profil.css" rel="stylesheet">

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="http://localhost:8000/img/bg/bg2.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Mon profil</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-times text-danger" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		<section>
			<div class="container mt-5">
				<div class="row">
					<div class="img" style="background-image: url(http://localhost:8000/img/bg/user_profil.jpg);height: 350px;background-size: cover;"></div>
					<div class="card social-prof">
						<div class="card-body">
							<div class="wrapper">
								{% if app.user.pictures is empty %}
									<img src="{{ 'http://localhost:8000/img/avatar/default_profil.png' }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
								{% else %}
									{% for picture in app.user.pictures %}
										<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
									{% endfor %}
								{% endif %}
								<h3 class="mt-0 mb-3">{{ app.user.lastname }}
									-
									{{ app.user.firstname }}</h3>
								<p>{{ app.user.username }}</p>
								<hr>
							</div>
							<div class="row ">
								<div class="col-lg-12">
									<ul class=" nav nav-tabs justify-content-center s-nav">
										<li>
											<a class="active" href="{{ path('profil') }}">Mon profil</a>
										</li>
										<li>
											<a href="{{ path('user.edit') }}">Mes paramètres</a>
										</li>
										<li>
											<a href="{{ path('user.annonces') }}">Mes annonces</a>
										</li>
										<li>
											<a href="{{ path('user.credit') }}">Mes crédits</a>
										</li>
										<li>
											<a href="{{ path('user.favoris') }}">Mes favoris</a>
										</li>
										<li>
											<a href="{{ path('user.mailbox') }}">Boîte de réception <b>({{ countMail }})</b></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-body info-card social-about">
									<h2 class="text-blue">Mon profil</h2>
									<h4>
										<strong>Biographie</strong>
									</h4>
									<p>{{ app.user.biography }}
									</p>
									<h4 class="mb-3">
										<strong>Informations personnelles</strong>
									</h4>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												<i class="fas fa-birthday-cake mr-2"></i>
												<span>{{ app.user.getAge() }}
													an(s) -
													{{ app.user.birthday|format_date() }}</span>
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												<i class="fas fa-map-marker-alt mr-2"></i>
												<span>{{ app.user.address }},
													{{ app.user.postalCode }},
													{{ app.user.city }},
													{{ app.user.country }}</span>
											</div>
										</div>
									</div>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												<i class="fas fas fa-users mr-2"></i>
												<span>
													{% if app.user.gender == 0 %}Homme{% elseif app.user.gender == 1 %}Femme
													{% endif %}
												</span>
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												<i class="fas fa-briefcase mr-2"></i>
												<span>{{ app.user.job }}</span>
											</div>
										</div>
									</div>
									<div class="row ml-1">
										<div class="col-6">
											<div class="social-info">
												<i class="fas fas fa-mobile mr-2"></i>
												<span>{{ app.user.phone }}
													{% if app.user.mobile != null %}- 0{{ app.user.mobile }}
													{% endif %}
												</span>
											</div>
										</div>
										<div class="col-6">
											<div class="social-info">
												<i class="fas fas fa-envelope mr-2"></i>
												<span>{{ app.user.email }}</span>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						
							<div class="col-lg-6">
								<div class="card info-card">
									<div class="card-body">
										<h2 class="text-blue">Mes annonces en favoris</h2>

										<div>
											<h4><strong>Retrouvez vos annonces sauvegardées sur tous vos appareils</strong></h4>

											<p>Si l’annonce n’est plus active sur le site, elle disparaîtra automatiquement de votre sélection.</p>
										
											<hr>
										</div>

										<div class="row">
											{% for annoncesUsers in annoncesLike %}
											{% if annoncesUsers.isActive != 0 %}
												<div class="col-lg-6 m-auto">
													<h4 class="mb-3">
														<a href="{{ path('annonce.show', { 'id': annoncesUsers.id }) }}" style="max-width: 348px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 1.5rem!important;">
															<strong>{{ annoncesUsers.title }}</strong>
														</a>
													</h4>
													{% if annoncesUsers.pictures is empty %}
														<a class="lb-link" data-rel="product-gallery" href="http://localhost:8000/img/annonces/empty.jpg" title="{{ annoncesUsers.title }}">
															<img data-rel="product-gallery" src="{{ 'http://localhost:8000/img/annonces/empty.jpg' }}" class="img-responsive" alt="{{ annoncesUsers.title }}">
														</a>
													{% else %}
														<a class="lb-link" data-rel="product-gallery" href="http://localhost:8000/img/annonces/empty.jpg" title="{{ annoncesUsers.title }}">
															<img data-rel="product-gallery" src="{{ vich_uploader_asset(annonces.pictures[0], 'imageFile') }}" class="img-responsive" alt="{{ annonces.title }}"/>
														</a>
													{% endif %}
													<p class="mt-3">
														{% if annoncesUsers.premium == 1 %}
															<span>
																<i class="fas fa-hand-sparkles text-success"></i>
																<strong>Annonce Premium</strong></span>
														{% endif %}
													</p>
													<p>Crée le {{ annoncesUsers.createdAt|format_datetime() }}</p>
													<p class="mt-3">{{ annoncesUsers.smallContent }}
													</p>

													<div class="text-center mb-3">
														<a href="#" class="btn btn-primary btn-theme mr-5">Envoyer un message
															<i class="far fa-comment-dots text-success"></i>
														</a>

														<a href="{{ path('user.favoris.delete', { 'id': annoncesUsers.id }) }}" class="btn btn-primary btn-theme mr-5">Supprimer l'annonce
															<i class="fa fa-trash text-danger"></i>
														</a>
													</div>
												</div>
											{% endif %}	
										{% endfor %}
										</div>
									</div>
								</div>
							</div>
						
					</div>
				</div>
			</div>
		</section>

		{% include('components/contact.html.twig') %}

		{% include('components/footer.html.twig') %}

	</div>

	{% include('components/navRight.html.twig') %}

{% endblock %}
