{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Message de ' ~ mailbox.author %}

{% block body %}
	<link href="http://localhost:8000/css/profil.css" rel="stylesheet">

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="http://localhost:8000/img/bg/bg5.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Message de
								{{ mailbox.author }}</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-times text-danger" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		<section>
			<div class="container mt-5">
				<div class="row">
					<div class="img" style="background-image: url(http://localhost:8000/img/bg/user_profil.jpg);height: 350px;background-size: cover;"></div>
					<div class="card social-prof">
						<div class="card-body">
							<div class="wrapper">
								{% if app.user.pictures is empty %}
									<img src="{{ 'http://localhost:8000/img/avatar/default_profil.png' }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
								{% else %}
									{% for picture in app.user.pictures %}
										<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
									{% endfor %}
								{% endif %}
								<h3 class="mt-0 mb-3">{{ app.user.lastname }}
									-
									{{ app.user.firstname }}</h3>
								<p>{{ app.user.username }}</p>
								<hr>
							</div>
							<div class="row ">
								<div class="col-lg-12">
									<ul class=" nav nav-tabs justify-content-center s-nav">
										<li>
											<a href="{{ path('profil') }}">Mon profil</a>
										</li>
										<li>
											<a href="{{ path('user.edit') }}">Mes paramètres</a>
										</li>
										<li>
											<a href="{{ path('user.annonces') }}">Mes annonces</a>
										</li>
										<li>
											<a href="{{ path('user.credit') }}">Mes crédits</a>
										</li>
										<li>
											<a href="{{ path('user.favoris') }}">Mes favoris</a>
										</li>
										<li>
											<a href="{{ path('user.mailbox') }}">Boîte de réception
												<b>({{ countMail }})</b>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="container row m-auto">
							<div class="col-md-12 m-auto" style="display: flex;justify-content: center;">
								<div class="col-md-8">
									<div class="card info-card">
										<div class="card-body">
											<h2 class="text-blue">Message de
												{{ mailbox.author }}</h2>

											<div>
												<h4>
													<strong>Retrouvez vos messages ici et sur tous vos appareils</strong>
												</h4>

												<hr>
											</div>
											<div class="row">

												<div class="mb-3" style="text-align: right;">
													<a id="reply-to" data-toggle="tooltip" data-placement="top" title="Répondre au message" class="btn btn-success" style="width: 144px;height: 22px;font-size: 10px;padding: 4px;font-weight: 600;">
														<i class="fas fa-reply" style="color: #fff;"></i>
														Répondre au message
													</a>
													<a href="{{ path('user.mailbox.read', { 'id': mailbox.id }) }}" data-toggle="tooltip" data-placement="top" title="Marquer comme lu" class="btn btn-warning" style="width: 126px;height: 22px;font-size: 10px;padding: 4px;font-weight: 600;">
														<i class="fas fa-check" style="color: #fff;"></i>
														Marquer comme lu
													</a>
													<a href="{{ path('user.mailbox.delete', { 'id': mailbox.id }) }}" data-toggle="tooltip" data-placement="top" title="Supprimer le message" class="btn btn-danger" style="width: 143px;height: 22px;font-size: 10px;padding: 4px;font-weight: 600;">
														<i class="fas fa-times" style="color: #fff;"></i>
														Supprimer le message
													</a>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">{{ mailbox.subject }}</div>
													<div class="panel-body">
														{{ mailbox.content }}
													</div>
												</div>

												<div id="reply" class="col-md-12 m-auto" style="display:none;">

													{{ form_start(formMailbox) }}
													{{ form_row(formMailbox.content) }}	

													<div class="col-6 text-center mb-3">
														<button type="submit" class="btn btn-primary">Envoyer le message</button>
													</div>

													{{ form_end(formMailbox) }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				{% include('components/contact.html.twig') %}

				{% include('components/footer.html.twig') %}

			</div>

			{% include('components/navRight.html.twig') %}

			<script>
				const content = document.getElementById('mailbox_content');
				content.value = '';

				const mailbox_author = document.getElementById('mailbox_author'),
					mailbox_recipient = document.getElementById('mailbox_recipient'),
					mailbox_subject = document.getElementById('mailbox_subject');

				mailbox_author.value = `{{ app.user.username }}`;
				mailbox_recipient.value = `{{ mailbox.author }}`;
				mailbox_subject.value = `Réponse de {{ mailbox.author }}`;
			</script>

		{% endblock %}
