{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Boîte de réception' %}

{% block body %}
	<link href="http://localhost:8000/css/profil.css" rel="stylesheet">

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="http://localhost:8000/img/bg/bg5.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Boîte de réception</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center" style="width: 29% !important; margin: 50px auto 50px auto;">
				<i class="fa fa-times text-danger" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		<section>
			<div class="container mt-5">
				<div class="row">
					<div class="img" style="background-image: url(http://localhost:8000/img/bg/user_profil.jpg);height: 350px;background-size: cover;"></div>
					<div class="card social-prof">
						<div class="card-body">
							<div class="wrapper">
								{% if app.user.pictures is empty %}
									<img src="{{ 'http://localhost:8000/img/avatar/default_profil.png' }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
								{% else %}
									{% for picture in app.user.pictures %}
										<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle user-profil" alt=""/>
									{% endfor %}
								{% endif %}
								<h3 class="mt-0 mb-3">{{ app.user.lastname }}
									-
									{{ app.user.firstname }}</h3>
								<p>{{ app.user.username }}</p>
								<hr>
							</div>
							<div class="row ">
								<div class="col-lg-12">
									<ul class=" nav nav-tabs justify-content-center s-nav">
										<li>
											<a href="{{ path('profil') }}">Mon profil</a>
										</li>
										<li>
											<a href="{{ path('user.edit') }}">Mes paramètres</a>
										</li>
										<li>
											<a href="{{ path('user.annonces') }}">Mes annonces</a>
										</li>
										<li>
											<a href="{{ path('user.credit') }}">Mes crédits</a>
										</li>
										<li>
											<a href="{{ path('user.favoris') }}">Mes favoris</a>
										</li>
										<li>
											<a class="active" href="{{ path('user.mailbox') }}">Boîte de réception <b>({{ countMail }})</b></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="container row m-auto">
							<div class="col-lg-12">
								<div class="card info-card">
									<div class="card-body">
										<h2 class="text-blue">Boîte de réception</h2>

										<div>
											<h4>
												<strong>Retrouvez vos messages ici et sur tous vos appareils</strong>
											</h4>

											<hr>
										</div>
										<div class="row">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-borderless table-sm table-light border-light">
													<thead>
														<tr>
															<th scope="col" class="text-center">Auteur du message</th>
															<th scope="col" class="text-center">Sujet du message</th>
															<th scope="col" class="text-center">Date de réception</th>
															<th scope="col" class="text-center">Action</th>
														</tr>
													</thead>
													<tbody>
														{% for mailboxs in mailbox %}
															<tr>
																<td scope="row" class="text-center">
																	<img src="http://localhost:8000/img/mail.png" alt="{{ mailboxs.author }}" height="22" alt="" loading="lazy"/>
																	<span class="ml-2"><b>{{ mailboxs.author }}</b></span>
																</td>
																<td class="text-center">{{ mailboxs.subject }}</td>
																<td class="text-center">{{ mailboxs.createdAt|format_datetime() }}</td>
																<td class="text-center">
																	<a href="{{ path('user.mailbox.read', { 'id': mailboxs.id }) }}" data-toggle="tooltip" data-placement="top" title="Marquer comme lu" class="btn btn-warning" style="width: 22px;height: 22px;font-size: 10px;padding: 4px;">
																		<i class="fas fa-check" style="color: #fff;"></i>
																	</a>
																	<a href="{{ path('user.mailbox.view', { 'id': mailboxs.id }) }}" data-toggle="tooltip" data-placement="top" title="Lire le message" class="btn btn-success" style="width: 22px;height: 22px;font-size: 10px;padding: 4px;">
																		<i class="fas fa-glasses" style="color: #fff;"></i>
																	</a>
																	<a href="{{ path('user.mailbox.delete', { 'id': mailboxs.id }) }}" data-toggle="tooltip" data-placement="top" title="Supprimer le message" class="btn btn-danger" style="width: 22px;height: 22px;font-size: 10px;padding: 4px;">
																		<i class="fas fa-times" style="color: #fff;"></i>
																	</a>
																</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>

											<div class="row mt-4">
												<div class="col-12 col-md-12 col-xl-12" style="display: flex;justify-content: space-around;">
													{{ knp_pagination_render(mailbox) }}
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="container row m-auto">
							<div class="col-lg-12">
								<div class="card info-card">
									<div class="card-body">
										<h2 class="text-blue">Message archivé</h2>

										<div>
											<h4>
												<strong>Retrouvez vos messages ici archivé et sur tous vos appareils</strong>
											</h4>

											<hr>
										</div>
										<div class="row">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-borderless table-sm table-light border-light">
													<thead>
														<tr>
															<th scope="col" class="text-center">Auteur du message</th>
															<th scope="col" class="text-center">Sujet du message</th>
															<th scope="col" class="text-center">Date de réception</th>
															<th scope="col" class="text-center">Action</th>
														</tr>
													</thead>
													<tbody>
														{% for mailboxs in mailboxArchive %}
															<tr>
																<td scope="row" class="text-center">
																	<img src="http://localhost:8000/img/mail.png" alt="{{ mailboxs.author }}" height="22" alt="" loading="lazy"/>
																	<span class="ml-2"><b>{{ mailboxs.author }}</b></span>
																</td>
																<td class="text-center">{{ mailboxs.subject }}</td>
																<td class="text-center">{{ mailboxs.createdAt|format_datetime() }}</td>
																<td class="text-center">
																	<a href="{{ path('user.mailbox.view', { 'id': mailboxs.id }) }}" data-toggle="tooltip" data-placement="top" title="Lire le message" class="btn btn-success" style="width: 22px;height: 22px;font-size: 10px;padding: 4px;">
																		<i class="fas fa-glasses" style="color: #fff;"></i>
																	</a>
																	<a href="{{ path('user.mailbox.delete', { 'id': mailboxs.id }) }}" data-toggle="tooltip" data-placement="top" title="Supprimer le message" class="btn btn-danger" style="width: 22px;height: 22px;font-size: 10px;padding: 4px;">
																		<i class="fas fa-times" style="color: #fff;"></i>
																	</a>
																</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>

											<div class="row mt-4">
												<div class="col-12 col-md-12 col-xl-12" style="display: flex;justify-content: space-around;">
													{{ knp_pagination_render(mailboxArchive) }}
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include('components/contact.html.twig') %}

		{% include('components/footer.html.twig') %}

	</div>

	{% include('components/navRight.html.twig') %}

{% endblock %}
